version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    working_dir: /usr/src/app
    command: npm start
    volumes:
      - ./server:/usr/src/app
    environment:
      - MONGODB_URL=mongodb://mongo:27017/crm-db
      - PORT=5000
    ports:
      - '5000:5000'
    depends_on:
      - mongo

  client:
    build: ./client
    working_dir: /usr/src/app
    command: npm run dev
    volumes:
      - ./client:/usr/src/app
    ports:
      - '5173:5173'
    depends_on:
      - server

volumes:
  mongo-data:
